body { 
background-color: #ffffff);
font-family: "Roboto", sans-serif;
}

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-backgroung-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --tertriary-background-color: #2f303a;
    --fourth-backgroung-color:#E5E5E5;
    --secondary-logo-color: #000000;
}

ul,ol {list-style: none;}
a {
    text-decoration: none;
}

ul,ol, li, p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------------------Шапка Сайта---------------------------------  */


/* -----------------------------Header--------------------------------------*/



.header {
    outline: 2px red;
    padding-top: 25px;
    padding-bottom: 24px;
}


.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px dashed #f44336;
    
}

.logo {

    margin-right: 93px;

    font-family: "Raleway";
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    
}

.logo-web {
    

    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
}
.celector {
    display: flex;
    align-items: center;
}

.site-nav {

    display: flex;
}

.section-info {
    display: flex;
    
}



.site-nav .link {

    margin-right: 50px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-logo-color);
 
    
}



.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


.link.current {
    color: var(--accent-color);
}

.section-info {
    
    margin-left: auto;
}

.section-info-mail {

    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.section-info-mail:hover,
.section-info-mail:focus {
    color: var(--accent-color);
}

.section-info-number {
    
    margin-left: 50px;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.section-info-number:hover,
.section-info-number:focus {
    color: var(--accent-color);
}



/*--------------------Main--------------------------------------------*/

.main {

    padding-top: 200px;
    background-color: var(--tertriary-background-color);
    text-align: center;
    padding-bottom: 240px;
}

.button {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--primary-backgroung-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.button {
    cursor: pointer;
}

.main-title {

    margin-bottom: 30px;

    color: var(--primary-backgroung-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-features {
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-feature-list {
    display: flex;
    margin-top: 91px;
}

.section-feature-item {
    width: 270px;
    margin-right: 30px;
}

.section-feature-item:last-child {
    margin-right: 0;
}

.section-feature-title {

    margin-bottom: 10px;    

    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-feature-text {

   

    color: var(--primary-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*----------------------------------------Section Work------------------*/
    
.section-work {
    padding-bottom: 94px;
    
}

.section-work-title {

    margin-bottom: 50px;

    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-work-list {
    display: flex;
}

.section-work-item {
    margin-right: 30px;
}

.section-work-item:last-child{
    margin-right: 0;
}



/*----------------------------------SectionTeam---------------------*/



.section-team {
    background-color: var(--secondary-background-color);
    padding-bottom: 94px;
}

.section-team-titlemain {
    padding-top: 94px;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team-list {
    display: flex;

    

}


.section-team-item{
    margin-right: 30px;

    background-color: var(--primary-backgroung-color);
    border-radius: 0px 0px 4px 4px;
}

.section-team-item:last-child{
    margin-right: 0;
}

.section-team-cards{
    padding-top: 30px;
    margin-bottom: 10px;
}

.section-team-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.section-team-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}
/*----------------------------Footer----------------------------------------*/



.logo-white {
    display: block;
    padding-top: 60px;
    margin-bottom: 20px;
}




.logo-white {
    font-family: "Raleway";
    color: var(--primary-backgroung-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.section-network {
    background: var(--tertriary-background-color);
}

.section-network-list {
    margin-bottom: 9px;
    padding-bottom: 60px;
}

.section-network-maps {
    font-style: normal;
    color: var(--primary-backgroung-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-network-maps:hover,
.section-network-maps:focus {
    color: var(--accent-color);
}

.section-network-mail {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
}

.section-network-mail:hover,
.section-network-mail:focus {
    color: var(--accent-color);
}


.section-network-number {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-network-number:hover,
.section-network-number:focus {
    color: var(--accent-color);
}







/*---------------------Портфолио----------------------------------*/

/*---------------------Section-buttoon----------------------------*/


.section-button-list {
    display: flex;
    justify-content:center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.section-button-main {
    margin-right: 8px;
}


.section-button-main {
    font-family: inherit;
    background: var(--secondary-background-color);
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    
}


.section-button-main:hover,
.section-button-main:focus {
    color: var(--primary-backgroung-color);
    background-color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}



/*-------------------------------Section-work-------------------*/

.section-information-list {
    display: flex;
    flex-wrap: wrap;
 
   
 

   
 
}






.section-information-item {
flex-basis: calc((100% - 30px) / 3);
margin-left: 30px;

}

/* .section-information-item:last-child{
    margin-right: 0;
}
   */
.section-icon {
    padding-top: 20px;
    padding-bottom: 20px;

}


img {
display: block;
max-width: 100%;
height: auto;
}

.section-information-type {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;
}

.section-information-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
}









